{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class="flex w-screen h-screen items-center justify-center">
  <div class="bg-white px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
    <div class="max-w-max mx-auto">
      <main class="sm:flex">
        <p class="text-4xl font-extrabold text-emerald-600 sm:text-5xl"></p>
        <div class="sm:ml-6">
          <div class="sm:pl-6">
            <h1 class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">Account successfully deleted</h1>
            <p class="mt-1 text-base text-gray-500">It is sad to see you leave. We don't have your data anymore but feel free to recreate an account anytime.</p>
          </div>
          <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6">
            <a href="{% url 'homepage' %}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
              Go back home
            </a>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
{% endblock %}
