{% extends 'application.html' %}

{% block content %}

<form method="POST" class="space-y-8 divide-y divide-gray-200">
	<div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
		<div>
			<div>
				<h3 class="text-lg leading-6 font-medium text-gray-900">
					User Profile
				</h3>
			</div>

			<div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
				<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
					<label for="{{ formService.title.id_for_label }}" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
						{{ form.timezone.label }}
					</label>
					<div class="mt-1 sm:mt-0 sm:col-span-2">
						<select name="timezone" class="selectpicker" data-title="Select Timezone" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
							{{ form.fields.timezone.value }}
					    {% for x,y in form.fields.timezone.choices %}
					       <option value="{{ x }}"{% if form.fields.timezone.value == x %} selected{% endif %}>{{ y }}</option>
					    {% endfor %}
					    </select>
						{% if form.timezone.errors %}
						{% for error in form.timezone.errors %}
						<p class="mt-2 text-sm text-red-500">{{ error|escape }}</p>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>

			{% csrf_token %}
		</div>	
	</div>

	<div class="pt-5 flex justify-between">
		<div class="flex justify-end">
			<a href="{% url 'settings' %}" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
				Cancel
			</a>
			<button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
				Save
			</button>
		</div>
	</div>
</form>
{% endblock %}
