{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-xl">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">

        {% if process == "connect" %}
        <h3 class="text-lg font-medium leading-6 text-gray-900">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h3>
        <div class="mt-2 max-w-xl text-sm text-gray-500">
          <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
        </div>
        {% else %}
        <h3 class="text-lg font-medium leading-6 text-gray-900">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h3>
        <div class="mt-2 max-w-xl text-sm text-gray-500">
          <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
        </div>
        {% endif %}
        <div class="mt-5">
          <form method="post">
            {% csrf_token %}
            <button
              ttype="submit"
              class="inline-flex items-center rounded-md border border-transparent bg-green-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:text-sm"
            >
              {% trans "Continue" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
