{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class="flex w-screen h-screen items-center justify-center">
  <form method="post" class="py-5 space-y-8 divide-y divide-gray-200">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Account successfully deleted
        </h3>
        <div class="mt-2 max-w-xl text-sm text-gray-500">
          <p>
            It is sad to see you leave. We don't have your data anymore but feel free to recreate an account anytime.
          </p>
        </div>
        <div class="mt-5 flex justify-between gap-8">
          <a href="{% url 'homepage' %}" class="whitespace-nowrap font-medium text-emerald-700 hover:text-emerald-600">
            Go back home
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
