{% extends 'application.html' %}
{% load socialaccount account tailwind_tags %}

{% block title %}Projects{% endblock %}

{% block html_head_title %}Projects - FromEdwin{% endblock %}

{% block title_header %}
<header>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
	  <div class="flex-1 min-w-0">
	    <h2 class="text-2xl font-bold leading-7 text-black sm:text-3xl sm:truncate">
	      Projects
	    </h2>
	  </div>
	  <div class="mt-4 flex md:mt-0 md:ml-4">
	    <a href="{% url 'projects_add' %}" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          Create new project
        </a>
	  </div>
	</div>
  </div>
</header>
{% endblock %}

{% block content %}

<div class="pt-12">
	<!-- This example requires Tailwind CSS v2.0+ -->
	<div class="bg-white shadow overflow-hidden sm:rounded-md">
		<ul role="list" class="divide-y divide-gray-200">
			{% for application in applications %}
			<li>
				<a href="{% url 'project' application.id %}" class="block hover:bg-gray-50">
					<div class="flex items-center px-4 py-4 sm:px-6">
						<div class="min-w-0 flex-1 flex items-center">
							<div class="flex-shrink-0 relative">
								{% if application.is_offline %}
								<div class="h-12 w-12 flex justify-center items-center rounded-full bg-red-600 text-white text-sm font-medium">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
									</svg>
								</div>
								{% elif application.is_degraded or application.is_warning %}
								<div class="h-12 w-12 flex justify-center items-center rounded-full bg-yellow-600 text-white text-sm font-medium">
									<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
								</div>
								{% else %}
								<div class="h-12 w-12 flex justify-center items-center rounded-full bg-green-600 text-white text-sm font-medium">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
									</svg>
								</div>
								{% endif %}
                {% if application.is_favorite %}
                <span class="absolute bottom-0 right-0 block h-2.5 w-2.5 rounded-full ring-2 ring-white bg-yellow-400"></span>
                {% endif %}
							</div>
							<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-3 md:gap-4">
								<div>
									<p class="flex text-sm font-medium text-gray-800 truncate">{{ application }}</p>
									<p class="mt-2 flex flex-wrap items-center text-sm text-gray-500">
										{% for service in application.services.all %}
										<span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium mr-1 mb-1 {% if not service.is_enabled %}bg-gray-100 text-gray-800{% elif service.is_critical and service.is_offline %}bg-red-100 text-red-800{% elif service.is_degraded or service.is_warning %}bg-yellow-100 text-yellow-800{% else %}bg-green-100 text-green-800{% endif %}">
											<svg class="mr-1.5 h-2 w-2 {% if not service.is_enabled %}text-gray-400{% elif service.is_critical and service.is_offline %}text-red-400{% elif service.is_degraded or service.is_warning %}text-yellow-400{% else %}text-green-400{% endif %}" fill="currentColor" viewBox="0 0 8 8">
												<circle cx="4" cy="4" r="3" />
											</svg>
											{{ service.title }}
										</span>
										{% endfor %}
									</p>
								</div>
								<div class="hidden md:block">
							      <dt class="text-sm font-medium text-gray-500 truncate">
							        Availability 30 days
							      </dt>
							      <dd class="mt-1 text-xl font-semibold text-gray-900">
							        {{ application.availability }} %
							      </dd>
								</div>
								<div class="hidden md:block">
							      <dt class="text-sm font-medium text-gray-500 truncate">
							        Incidents
							      </dt>
							      <dd class="mt-1 text-xl font-semibold text-gray-900">
							        {{ application.incidents_count }}
							      </dd>
								</div>
							</div>
						</div>
						<div>
							<!-- Heroicon name: solid/chevron-right -->
							<svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
							</svg>
						</div>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
