{% extends 'application.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js" integrity="sha256-iJxB0L7blNZTAFBu/ESTfVaVTqFrTeISeWk7RUEePFY=" crossorigin="anonymous"></script>

<script src="{% static 'prismjs/prism.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'prismjs/prism.css' %}">
{% endblock %}

{% block content %}
<div class="p-4">
    <div class="pb-12">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="md:flex md:items-center md:justify-between md:space-x-5">
        <div class="flex items-start space-x-5">
          <div class="flex-shrink-0 flex content-center relative">
              {% if project.is_offline %}
                <div class="h-16 w-16 flex justify-center items-center rounded-full bg-red-600 text-white text-sm font-medium">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </div>
                {% elif project.is_degraded or project.is_warning %}
                <div class="h-16 w-16 flex justify-center items-center rounded-full bg-yellow-600 text-white text-sm font-medium">
                  <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
                </div>
                {% else %}
                <div class="h-16 w-16 flex justify-center items-center rounded-full bg-green-600 text-white text-sm font-medium">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                </div>
                {% endif %}
                {% if project.is_favorite %}
                <span class="absolute bottom-0 right-0 block h-3.5 w-3.5 rounded-full ring-2 ring-white bg-yellow-400"></span>
                {% endif %}
          </div>
          <!--
            Use vertical padding to simulate center alignment when both lines of text are one line,
            but preserve the same layout if the text wraps without making the image jump around.
          -->
          <div class="pt-1.5">
            <h1 class="text-3xl flex font-bold text-gray-900 items-center">{{ project }}
          </h1>
            <p class="text-sm font-medium text-gray-500">Service is fully online and works as expected</p>
          </div>
        </div>
        <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
          <a href="{% url 'projects_edit' project.id %}" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-green-500">
            Edit
          </a>
        </div>
      </div>
    </div>

    <div>
      <nav class="flex space-x-4" aria-label="Tabs">
        <!-- Current: "bg-indigo-100 text-indigo-700", Default: "text-gray-500 hover:text-gray-700" -->
        <a href="{% url 'project' project.id %}" 
          {% if request.resolver_match.view_name == 'project' %}
          class="bg-green-100 text-green-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page"
          {% else %}
          class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md"
          {% endif %}>
          Overview
        </a>
        <a href="{% url 'project_availability' project.id %}" 
          {% if request.resolver_match.view_name == 'project_availability' %}
          class="bg-green-100 text-green-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page"
          {% else %}
          class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md"
          {% endif %}>
          Availability
        </a>
        <a href="{% url 'project_performances' project.id %}" 
          {% if request.resolver_match.view_name == 'project_performances' %}
          class="bg-green-100 text-green-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page"
          {% else %}
          class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md"
          {% endif %}>
          Performances
        </a>
        <a href="{% url 'project_notifications' project.id %}" 
          {% if request.resolver_match.view_name == 'project_notifications' %}
          class="bg-green-100 text-green-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page"
          {% else %}
          class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md"
          {% endif %}>
          Notifications
        </a>
        <a href="{% url 'project_status_public' project.id %}" 
          {% if request.resolver_match.view_name == 'project_status_public' %}
          class="bg-green-100 text-green-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page"
          {% else %}
          class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md"
          {% endif %}>
          Public page
        </a>
      </nav>
    </div>

</div>

  {% block subsection %}

  {% endblock %}

{% endblock %}
