{% extends 'projects/project_view.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags %}

{% block html_head_title %}Availability - {{ project.title }} - FromEdwin{% endblock %}

{% block javascript %}
<script src="{% static 'echarts/echarts.min.js' %}"></script>
{% endblock %}
{% block subsection %}
<header class="pb-4">
  <h1 class="text-3xl font-bold leading-tight text-gray-900 relative pl-16 pt-2 pb-8">
    <div class="absolute top-0 left-0 flex h-12 w-12 items-center justify-center rounded-lg bg-emerald-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
      </svg>
    </div>
    Availability
  </h1>
</header>
<div class="pb-4">
    <div class="pb-6 flex">
      <div class="w-1/3 flex-grow text-base leading-7 text-gray-600">
        <dl class="mt-4">
          <div class="flex flex-col gap-y-1 border-l border-gray-900/10 pl-6">
            <dt class="text-xs leading-6 text-gray-800">Past 24 hours</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-emerald-600">
              {{ availability.1|floatformat:2 }} %
            </dd>
          </div>
        </dl>
      </div>
      <div class="w-1/3 flex-grow text-base leading-7 text-gray-600">
        <dl class="mt-4">
          <div class="flex flex-col gap-y-1 border-l border-gray-900/10 pl-6">
            <dt class="text-xs leading-6 text-gray-800">Past 7 days</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-emerald-600">
              {{ availability.7|floatformat:2 }} %
            </dd>
          </div>
        </dl>
      </div>
      <div class="w-1/3 flex-grow text-base leading-7 text-gray-600">
        <dl class="mt-4">
          <div class="flex flex-col gap-y-1 border-l border-gray-900/10 pl-6">
            <dt class="text-xs leading-6 text-gray-800">Past 30 days</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-emerald-600">
              {{ availability.30|floatformat:2 }} %
            </dd>
          </div>
        </dl>
      </div>

      <!--<div class="flex flex-row justify-between items-center">
        {% for day in days %}
        <p class="max-w-8 w-20 h-8 mt-4 mb-4 ml-1 mr-1 rounded {% if day.outrage|length %}bg-red-600{% elif day.degradated|length %}bg-yellow-600{% else %}bg-emerald-500{% endif %}"></p>
        {% endfor %}
      </div>-->
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Services
      </h3>
      <div class="mt-3 sm:mt-0 sm:ml-4">
        <a href="{% url 'services_add' project.id %}" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
          Add new service
        </a>
      </div>
    </div>

    {% if project.is_degraded %}
    <div class="rounded-md bg-yellow-50 p-4 mt-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/exclamation -->
          <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">
            None critical services are failing
          </h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>
              Application still works and can be used and so not in an outrage state, but some none critical services are failing and might need attention.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if project.is_warning and not project.is_offline %}
    <div class="rounded-md bg-yellow-50 p-4 mt-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/exclamation -->
          <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">
            Warning
          </h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>
              A critical service is currently failing and about to create an <strong>outrage</strong>. Outrages are triggered after <strong>{{ settings.IS_SERVICE_DOWN_TRIGGER_OUTRAGE_MINUTES }} consecutive minutes</strong> of failing. 
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="flex flex-col mt-4">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Availability
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                {% for service in project.services.all %}
                {% with services|get_obj_attr:service.id as data %}
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="">
                        <div class="text-sm font-medium text-gray-900">
                          {{ service.title }} - 
                          <span class="text-gray-400 text-xs">{% if service.httpcode %}
                          <a class="text-xsitems-center text-ellipsis inline-block" href="{{ service.httpcode.url }}" target="_blank">{{ service.httpcode.url }} <svg class="inline w-4 h-4 ml-1 mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg></a>
                          {% endif %}
                          {% if service.httpmockedcode %}Return HTTP {{ service.httpmockedcode.code }}{% endif %}</span>
                        </div>
                        <div class="text-sm pt-2 flex flex-wrap">
                          {% if data.http_version %}
                          <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 mb-2 mr-1">
                            http{{ data.http_version }}
                          </span>
                          {% endif %}
                          {% if data.http_code %}
                          <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 mb-2 mr-1">
                            http status code {{ data.http_code }}
                          </span>
                          {% endif %}
                          {% if data.http_redirects %}
                          <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 mb-2 mr-1">
                            HTTP Redirect: {{ data.http_redirects }} 
                          </span>
                          {% endif %}
                          {% if data.tls_version_info %}
                          <span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium text-yellow-800 bg-yellow-100 mb-2 mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 mr-1.5 h-3 w-3 text-yellow-800">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                            SSL
                          </span>

                          <span class="inline-flex items-center rounded-full bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800 mb-2 mr-1">
                            {{ data.tls_version_info }}
                          </span>
                          <span class="inline-flex items-center rounded-full bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800 mb-2 mr-1">
                            SSL expiring in {{ data.ssl_earliest_cert_expiry|timestamp_to_date|timeuntil }}
                          </span>
                          {% elif data %}
                          <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 mb-2 mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 mr-1.5 h-3 w-3 text-gray-800">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                            No SSL
                          </span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-xs leading-6 text-gray-800">Past 30 days</div>
                    <div class="text-base font-semibold tracking-tight text-emerald-600">{{ service.availability|floatformat:2 }} %</div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    {% if not service.is_enabled %}
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-600">
                          Disabled
                        </span>
                    {% else %}
                        {% if service.is_critical and service.is_offline %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                              Offline
                            </span>
                        {% elif service.is_warning %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                              Warning
                            </span>
                        {% elif service.is_degraded %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                              Degraded
                            </span>
                        {% else %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-emerald-100 text-emerald-800">
                              Online
                            </span>
                        {% endif %}
                    {% endif %}

                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    {% if service.httpcode %}
                    <a href="{% url 'services_httpcode_edit' project.id service.httpcode.id %}" class="text-emerald-600 hover:text-emerald-900">Edit</a>
                    {% elif service.httpmockedcode %}
                    <a href="{% url 'services_mockedhttpcode_edit' project.id service.httpmockedcode.id %}" class="text-emerald-600 hover:text-emerald-900">Edit</a>
                    {% else %}
                    <a href="{% url 'services_httpcode_edit' project.id service.id %}" class="text-emerald-600 hover:text-emerald-900">Edit</a>{% endif %}
                  </td>
                </tr>
                {% endwith %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% for service in project.services.all %}
    {% with services|get_obj_attr:service.id as data %}
    {% if service.is_offline and data.http_code == '200' %}
    <div class="rounded-md bg-red-50 p-4 mt-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">{{ service.title }} is currently reported as offline but seams to return a valid http code 200</h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc space-y-1 pl-5">
              <li>This might be an error on our side. Please check if your service is still offline and then switch back manually to online if needed.</li>
              <li>Closing will still impact the availability pourcentage. Deleting will not impact it.</li>
            </ul>
            <div class="mt-4">
              <div class="-mx-2 -my-1.5 flex">
                <a href="{% url 'incidents_close_firing' service.id %}" type="button" class="rounded-md bg-red-50 px-2 py-1.5 text-sm font-medium text-red-800 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-red-50">Close the incidents</a>
                <a href="{% url 'incidents_delete_firing' service.id %}" type="button" class="rounded-md bg-red-50 px-2 py-1.5 text-sm font-medium text-red-800 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-red-50">Delete the incidents</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endfor %}

    <div class="pb-5 border-b border-gray-200 pt-4 mt-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Incidents {% if incidents %}({{ incidents|length }}){% endif %}
      </h3>
    </div>

    <div class="pt-4 pb-6">

      <nav aria-label="Progress">
        <ol role="list" class="flex flex-wrap items-center pt-4">

          {% for day in days %}
            <li class="relative{% if not forloop.last %} pr-2 sm:pr-4{% endif %} mb-8">
              <!-- Completed Step -->
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="h-0.5 w-full bg-emerald-600"></div>
              </div>
              {% if day.outrage %}
              <a href="{% url 'incidents_date' project.id day.day.year day.day.month day.day.day %}" class="relative w-6 h-6 flex items-center justify-center bg-red-600 rounded-full hover:bg-red-900">
                <!-- Heroicon name: solid/check -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                <span class="sr-only">{{ day.day }}</span>
              </a>
              {% elif day.degradated %}
              <a href="{% url 'incidents_date' project.id day.day.year day.day.month day.day.day %}" class="relative w-6 h-6 flex items-center justify-center bg-yellow-600 rounded-full hover:bg-yellow-900">
                <!-- Heroicon name: solid/check -->
                <svg class="w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
                <span class="sr-only">{{ day.day }}</span>
              </a>
              {% else %}
              <a href="{% url 'incidents_date' project.id day.day.year day.day.month day.day.day %}" class="relative w-6 h-6 flex items-center justify-center bg-emerald-600 rounded-full hover:bg-emerald-900">
                <!-- Heroicon name: solid/check -->
                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">{{ day.day }}</span>
              </a>
              {% endif %}
              <span class="w-full text-center absolute text-xs text-gray-500 pt-1 sm:pr-4">{{ day.day.day }}.{{ day.day.month }}</span>
            </li>
          {% endfor %}
        </ol>
      </nav>


      <nav class="px-4 flex items-center justify-between sm:px-0">
        <div class="-mt-px w-0 flex-1 flex justify-end">
          <a href="{% url 'incidents' project.id %}" class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700">
            See all incidents
            <! -- Heroicon name: solid/arrow-narrow-right -- >
            <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </nav>

      <!--<div class="flex flex-row justify-between items-center">
        {% for day in days %}
        <p class="max-w-8 w-20 h-8 mt-4 mb-4 ml-1 mr-1 rounded {% if day.outrage|length %}bg-red-600{% elif day.degradated|length %}bg-yellow-600{% else %}bg-emerald-500{% endif %}"></p>
        {% endfor %}
      </div>-->
    </div>

    <div id="probe_wrapper" style="display: none;">
      <div class="pb-5 border-b border-gray-200 pt-4 mt-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Reponse times
        </h3>
      </div>

      <div class="flex mt-2">
        <span class="isolate inline-flex rounded-md shadow-sm">
          <a 
            href="{% url 'project_availability' project.id %}?duration=3600" 
            type="button" 
            class="{% if duration == 3600 %}bg-emerald-50 text-emerald-600{% else %}text-gray-900 bg-white{% endif %} relative inline-flex items-center rounded-l-md px-3 py-2 text-xs font-semibold ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">1h</a>
          <a 
            href="{% url 'project_availability' project.id %}?duration=43200" 
            type="button" 
            class="{% if duration == 43200 %}bg-emerald-50 text-emerald-600{% else %}text-gray-900 bg-white{% endif %} relative -ml-px inline-flex items-center px-3 py-2 text-xs font-semibold ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">12h</a>
          <a 
            href="{% url 'project_availability' project.id %}?duration=86400" 
            type="button" 
            class="{% if duration == 86400 %}bg-emerald-50 text-emerald-600{% else %}text-gray-900 bg-white{% endif %} relative -ml-px inline-flex items-center px-3 py-2 text-xs font-semibold ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">1d</a>
          <a 
            href="{% url 'project_availability' project.id %}?duration=604800" 
            type="button" 
            class="{% if duration == 604800 %}bg-emerald-50 text-emerald-600{% else %}text-gray-900 bg-white{% endif %} relative -ml-px inline-flex items-center rounded-r-md px-3 py-2 text-xs font-semibold ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">7d</a>
        </span>
      </div>


      <div class="pt-4 pb-6">
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            var data = {{ services|safe }};

            if (data && Object.keys(data).length) {

              document.getElementById('probe_wrapper').style.display = 'block';

              xAxis_data = data[Object.keys(data)[0]].duration_seconds.map((value) => {
                d = new Date(value[0]);
                return d.toLocaleTimeString("en-us", {   
                    hour: "2-digit", minute: "2-digit"
                });
              });

              probes = Object.keys(data).map((index => {
                let instance = data[index];
                return {
                  name: instance.title,
                  type: 'line',
                  step: 'start',
                  data: instance.duration_seconds ? instance.duration_seconds.map(value => value[1]) : []
                };
              }));

              options = {
                tooltip: {
                  trigger: 'axis',
                },
                legend: {
                  data: probes.map(value => value.name),
                },
                grid: {
                  left: '3%',
                  right: '4%',
                  bottom: '3%',
                  containLabel: true
                },
                xAxis: {
                  type: 'category',
                  data: xAxis_data,
                },
                yAxis: {
                  type: 'value',
                  axisLabel: {
                    formatter: '{value} ms'
                  },
                },
                series: probes
              };
              const chart = echarts.init(document.getElementById('probes'), null, {renderer: 'svg'});
              options && chart.setOption(options);
            }
          });

        </script>
        <div id="probes" style="width: 100%; height: 300px; position: relative; margin-top: 10px;"></div>
      </div>
    </div>
</div>

{% endblock %}
