{% extends 'projects/project_view.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags %}

{% block html_head_title %}All vailabilities - FromEdwin{% endblock %}

{% block javascript %}
<script src="{% static 'echarts/echarts.min.js' %}"></script>
{% endblock %}

{% block subsection %}
<header class="pb-4">
  <h1 class="text-3xl font-bold leading-tight text-gray-900 relative pl-16 pt-2 pb-8">
    <div class="absolute top-0 left-0 flex h-12 w-12 items-center justify-center rounded-lg bg-emerald-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
      </svg>
    </div>
    Availabilities
  </h1>
</header>
<div class="pb-4">

    <div class="flex flex-col mt-4">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Availability
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">

                {% for project in projects %}
                  <tr>
                    <th class="text-left px-2 py-2">{{ project }}</th>
                  </tr>
                  {% for service in project.services.all %}
                  {% with services|get_obj_attr:service.id as data %}
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="">
                          <div class="text-sm font-medium text-gray-900">
                            {{ service.title }} - 
                            <span class="text-gray-400 text-xs">{% if service.httpcode %}
                            <a class="text-xsitems-center text-ellipsis inline-block" href="{{ service.httpcode.url }}" target="_blank">{{ service.httpcode.url }} <svg class="inline w-4 h-4 ml-1 mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg></a>
                            {% endif %}
                            {% if service.httpmockedcode %}Return HTTP {{ service.httpmockedcode.code }}{% endif %}</span>
                          </div>
                          <div class="text-sm pt-2 flex flex-wrap">
                            {% if data.http_version %}
                            <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 mb-2 mr-1">
                              http{{ data.http_version }}
                            </span>
                            {% endif %}
                            {% if data.http_code %}
                            <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 mb-2 mr-1">
                              http status code {{ data.http_code }}
                            </span>
                            {% endif %}
                            {% if data.http_redirects %}
                            <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 mb-2 mr-1">
                              HTTP Redirect: {{ data.http_redirects }} 
                            </span>
                            {% endif %}
                            {% if data.tls_version_info %}
                            <span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium text-yellow-800 bg-yellow-100 mb-2 mr-1">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 mr-1.5 h-3 w-3 text-yellow-800">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                              </svg>
                              SSL
                            </span>

                            <span class="inline-flex items-center rounded-full bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800 mb-2 mr-1">
                              {{ data.tls_version_info }}
                            </span>
                            <span class="inline-flex items-center rounded-full bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800 mb-2 mr-1">
                              SSL expiring in {{ data.ssl_earliest_cert_expiry|timestamp_to_date|timeuntil }}
                            </span>
                            {% elif data %}
                            <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 mb-2 mr-1">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 mr-1.5 h-3 w-3 text-gray-800">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                              </svg>
                              No SSL
                            </span>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-xs leading-6 text-gray-800">Past 30 days</div>
                      <div class="text-base font-semibold tracking-tight text-emerald-600">{{ service.availability|floatformat:2 }} %</div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      {% if not service.is_enabled %}
                          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-600">
                            Disabled
                          </span>
                      {% else %}
                          {% if service.is_critical and service.is_offline %}
                              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                                Offline
                              </span>
                          {% elif service.is_warning %}
                              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                                Warning
                              </span>
                          {% elif service.is_degraded %}
                              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                                Degraded
                              </span>
                          {% else %}
                              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-emerald-100 text-emerald-800">
                                Online
                              </span>
                          {% endif %}
                      {% endif %}

                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                      {% if service.httpcode %}
                      <a href="{% url 'services_httpcode_edit' project.id service.httpcode.id %}" class="text-emerald-600 hover:text-emerald-900">Edit</a>
                      {% elif service.httpmockedcode %}
                      <a href="{% url 'services_mockedhttpcode_edit' project.id service.httpmockedcode.id %}" class="text-emerald-600 hover:text-emerald-900">Edit</a>
                      {% else %}
                      <a href="{% url 'services_httpcode_edit' project.id service.id %}" class="text-emerald-600 hover:text-emerald-900">Edit</a>{% endif %}
                    </td>
                  </tr>
                  {% endwith %}
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% for service in project.services.all %}
    {% with services|get_obj_attr:service.id as data %}
    {% if service.is_offline and data.http_code == '200' %}
    <div class="rounded-md bg-red-50 p-4 mt-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">{{ service.title }} is currently reported as offline but seams to return a valid http code 200</h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc space-y-1 pl-5">
              <li>This might be an error on our side. Please check if your service is still offline and then switch back manually to online if needed.</li>
              <li>Closing will still impact the availability pourcentage. Deleting will not impact it.</li>
            </ul>
            <div class="mt-4">
              <div class="-mx-2 -my-1.5 flex">
                <a href="{% url 'incidents_close_firing' service.id %}" type="button" class="rounded-md bg-red-50 px-2 py-1.5 text-sm font-medium text-red-800 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-red-50">Close the incidents</a>
                <a href="{% url 'incidents_delete_firing' service.id %}" type="button" class="rounded-md bg-red-50 px-2 py-1.5 text-sm font-medium text-red-800 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-red-50">Delete the incidents</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endfor %}
</div>

{% endblock %}
