{% extends 'projects/project_view.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags %}

{% block html_head_title %}Availability - {{ project.title }} - FromEdwin{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js" integrity="sha256-iJxB0L7blNZTAFBu/ESTfVaVTqFrTeISeWk7RUEePFY=" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}Availability{% endblock %}
{% block subsection %}
<div class="pb-4">
    <div class="pb-6">
      <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            24 hours
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-emerald-500">
            {{ availability.1 }} %
          </dd>
        </div>
        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            7 days
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-emerald-500">
            {{ availability.7 }} %
          </dd>
        </div>
        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            30 days
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-emerald-500">
            {{ availability.30 }} %
          </dd>
        </div>
      </dl>

      <!--<div class="flex flex-row justify-between items-center">
        {% for day in days %}
        <p class="max-w-8 w-20 h-8 mt-4 mb-4 ml-1 mr-1 rounded {% if day.outrage|length %}bg-red-600{% elif day.degradated|length %}bg-yellow-600{% else %}bg-emerald-500{% endif %}"></p>
        {% endfor %}
      </div>-->
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Services
      </h3>
      <div class="mt-3 sm:mt-0 sm:ml-4">
        <a href="{% url 'services_add' project.id %}" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
          Add new service
        </a>
      </div>
    </div>

    {% if project.is_degraded %}
    <div class="rounded-md bg-yellow-50 p-4 mt-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/exclamation -->
          <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">
            None critical services are failing
          </h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>
              Application still works and can be used and so not in an outrage state, but some none critical services are failing and might need attention.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if project.is_warning and not project.is_offline %}
    <div class="rounded-md bg-yellow-50 p-4 mt-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/exclamation -->
          <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">
            Warning
          </h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>
              A critical service is currently failing and about to create an <strong>outrage</strong>. Outrages are triggered after <strong>{{ settings.IS_SERVICE_DOWN_TRIGGER_OUTRAGE_MINUTES }} consecutive minutes</strong> of failing. 
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="flex flex-col mt-4">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Availability
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Https
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                {% for service in project.services.all %}
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <!--
                      <div class="flex-shrink-0 h-10 w-10">
                        <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                      </div>-->
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          {{ service.title }}
                        </div>
                        <div class="text-sm text-gray-500">
                          {% if service.httpcode %}
                          <a class="flex items-center" href="{{ service.httpcode.url }}" target="_blank">{{ service.httpcode.url }} <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg></a>
                          {% endif %}
                          {% if service.httpmockedcode %}Return HTTP {{ service.httpmockedcode.code }}{% endif %}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">{{ service.availability }} %</div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    {% if not service.is_enabled %}
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-600">
                          Disabled
                        </span>
                    {% else %}
                        {% if service.is_critical and service.is_offline %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                              Offline
                            </span>
                        {% elif service.is_warning %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                              Warning
                            </span>
                        {% elif service.is_degraded %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                              Degraded
                            </span>
                        {% else %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-emerald-100 text-emerald-800">
                              Online
                            </span>
                        {% endif %}
                    {% endif %}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    {% if not service.is_enabled %}
                    <div class="text-sm text-gray-900"></div>
                    {% elif https|get_obj_attr:service.id %}
                    <div class="text-sm text-gray-900">Expires in:<br/>{{ https|get_obj_attr:service.id|timeuntil }}</div>
                    {% else %}
                    <div class="text-sm text-gray-900">Not using https</div>
                    {% endif %}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    {% if service.httpcode %}
                    <a href="{% url 'services_httpcode_edit' project.id service.httpcode.id %}" class="text-emerald-600 hover:text-emerald-900">Edit</a>
                    {% elif service.httpmockedcode %}
                    <a href="{% url 'services_mockedhttpcode_edit' project.id service.httpmockedcode.id %}" class="text-emerald-600 hover:text-emerald-900">Edit</a>
                    {% else %}
                    <a href="{% url 'services_httpcode_edit' project.id service.id %}" class="text-emerald-600 hover:text-emerald-900">Edit</a>{% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-5 border-b border-gray-200 pt-4 mt-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Incidents {% if incidents %}({{ incidents|length }}){% endif %}
      </h3>
    </div>

    <div class="pt-4 pb-6">

      <nav aria-label="Progress">
        <ol role="list" class="flex flex-wrap items-center pt-4">

          {% for day in days %}
            <li class="relative{% if not forloop.last %} pr-2 sm:pr-4{% endif %} mb-8">
              <!-- Completed Step -->
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="h-0.5 w-full bg-emerald-600"></div>
              </div>
              {% if day.outrage %}
              <a href="{% url 'incidents' project.id day.day.year day.day.month day.day.day %}" class="relative w-6 h-6 flex items-center justify-center bg-red-600 rounded-full hover:bg-red-900">
                <!-- Heroicon name: solid/check -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                <span class="sr-only">{{ day.day }}</span>
              </a>
              {% elif day.degradated %}
              <a href="{% url 'incidents' project.id day.day.year day.day.month day.day.day %}" class="relative w-6 h-6 flex items-center justify-center bg-yellow-600 rounded-full hover:bg-yellow-900">
                <!-- Heroicon name: solid/check -->
                <svg class="w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
                <span class="sr-only">{{ day.day }}</span>
              </a>
              {% else %}
              <a href="{% url 'incidents_date' project.id day.day.year day.day.month day.day.day %}" class="relative w-6 h-6 flex items-center justify-center bg-emerald-600 rounded-full hover:bg-emerald-900">
                <!-- Heroicon name: solid/check -->
                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">{{ day.day }}</span>
              </a>
              {% endif %}
              <span class="w-full text-center absolute text-xs text-gray-500 pt-1 sm:pr-4">{{ day.day.day }}.{{ day.day.month }}</span>
            </li>
          {% endfor %}
        </ol>
      </nav>


      <nav class="px-4 flex items-center justify-between sm:px-0">
        <div class="-mt-px w-0 flex-1 flex justify-end">
          <a href="{% url 'incidents' project.id %}" class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700">
            See all incidents
            <! -- Heroicon name: solid/arrow-narrow-right -- >
            <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </nav>

      <!--<div class="flex flex-row justify-between items-center">
        {% for day in days %}
        <p class="max-w-8 w-20 h-8 mt-4 mb-4 ml-1 mr-1 rounded {% if day.outrage|length %}bg-red-600{% elif day.degradated|length %}bg-yellow-600{% else %}bg-emerald-500{% endif %}"></p>
        {% endfor %}
      </div>-->
    </div>

    <div id="probe_wrapper" style="display: none;">
      <div class="pb-5 border-b border-gray-200 pt-4 mt-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Probes
        </h3>
      </div>

      <div class="pt-4 pb-6">
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            var data = {{ graph|safe }};

            if (data.data && data.data.result.length) {

              document.getElementById('probe_wrapper').style.display = 'block';

              xAxis_data = data.data.result[0].values.map((value) => {
                d = new Date(value[0]*1000);
                return d.toLocaleTimeString("en-us", {   
                    hour: "2-digit", minute: "2-digit"
                });
              });

              probes = data.data.result.map((instance => {
                return {
                  name: instance.metric.title,
                  type: 'line',
                  step: 'start',
                  data: instance.values.map(value => value[1].substring(0, 5))
                };
              }));

              options = {
                tooltip: {
                  trigger: 'axis'
                },
                legend: {
                  data: probes.map(value => value.name)
                },
                grid: {
                  left: '3%',
                  right: '4%',
                  bottom: '3%',
                  containLabel: true
                },
                xAxis: {
                  type: 'category',
                  data: xAxis_data
                },
                yAxis: {
                  type: 'value',
                },
                series: probes
              };
              const chart = echarts.init(document.getElementById('probes'), null, {renderer: 'svg'});
              options && chart.setOption(options);
            } else {

            }

          });

        </script>
        <div id="probes" style="width: 100%; height: 300px; position: relative; margin-top: 10px;"></div>
      </div>
    </div>
</div>

{% endblock %}
