{% extends 'application.html' %}
{% load static socialaccount account tailwind_tags humanize %}

{% block title %}All Messages - FromEdwin{% endblock %}

{% block html_head_title %}All Messages - FromEdwin{% endblock %}

{% block content %}
<div class="mx-auto mb-8">
	<div class="flex flex-col">
    <div class="flex-inline">
      {% for date, notifications in dates.items %}
      <div class="flex justify-center pt-8 pb-2">
        <span class="inline-flex items-center rounded-full bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 capitalize">{{ date|naturalday }}</span>
      </div>
      <div class="flex flex-start flex-row">
        <div>
          <img src="{% static 'favicon.svg' %}" alt="Edwin's avatar" class="w-10 h-10 mt-4 mr-2" />
        </div>
        <div class="">
          {% for notification in notifications %}
            <div key="{{activityItem.id}}" class="pl-3 flex">
              <div class="">
                <div class="rounded-md bg-gray-50 p-4 mt-3 text-xs text-gray-700 flex">
                  {% if notification.severity == 1 %}
                  <span class="mr-2">⚠️</span>
                  {% elif notification.severity == 2 %}
                  <span class="mr-2">❌</span>
                  {% elif notification.severity == 3 %}
                  <span class="mr-2">✅</span>
                  {% endif %}
                  {{ notification.message|safe }}
                </div>
                <p class="text-xs text-gray-400 text-right mt-1 mr-2">{{ notification.date|time:"H:i" }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% empty %}
      <div class="flex flex-start flex-row">
        <div>
          <img src="{% static 'favicon.svg' %}" alt="Edwin's avatar" class="w-10 h-10 mt-4 mr-2" />
        </div>
        <div class="">
          <div key="{{activityItem.id}}" class="pl-3 flex">
            <div class="">
              <div class="rounded-md bg-gray-50 p-4 mt-3 text-xs text-gray-700">
                No notifications
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
