{% extends 'application.html' %}

{% block content %}

<form method="POST" class="space-y-8 divide-y divide-gray-200">
	<div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
		<div>
			<div>
				<h3 class="text-lg leading-6 font-medium text-gray-900">
					Mocked HTTP code
				</h3>
				<p class="mt-1 max-w-2xl text-sm text-gray-500">
					For testig purpose, this service provde a monitored URL you can change the returned code.
				</p>
			</div>

			<div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
				<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
					<label for="{{ formService.title.id_for_label }}" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
						{{ formService.title.label }}
					</label>
					<div class="mt-1 sm:mt-0 sm:col-span-2">
						<input type="text" {% if formService.title.value %}value="{{ formService.title.value }}"{% endif %} name="{{ formService.title.html_name }}" id="{{ formService.title.id_for_label }}" class="max-w-lg block w-full shadow-sm focus:ring-emerald-500 focus:border-emerald-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
						{% if formService.title.errors %}
						{% for error in formService.title.errors %}
						<p class="mt-2 text-sm text-red-500">{{ error|escape }}</p>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>


			<div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
				<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
				  <div class="flex items-center justify-between">
				    <h2 class="text-sm font-medium text-gray-900">HTTP code</h2>
				  </div>

				  <fieldset class="mt-4">
				    <legend class="sr-only">HTTP code returned</legend>
				    <div class="space-y-4">
				      <div class="flex items-center">
				        <input id="200" value="200" name="code" type="radio" {% if not form.id or form.code.value == 200 %}checked{% endif %} class="focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300">
				        <label for="200" class="ml-3 block text-sm font-medium text-gray-700">
				          200 - OK
				        </label>
				      </div>

				      <div class="flex items-center">
				        <input id="404" value="404" name="code" type="radio" {% if form.code.value == 404 %}checked{% endif %} class="focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300">
				        <label for="404" class="ml-3 block text-sm font-medium text-gray-700">
				          404 - Not Found
				        </label>
				      </div>

				      <div class="flex items-center">
				        <input id="418" value="418" name="code" type="radio" {% if form.code.value == 418 %}checked{% endif %} class="focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300">
				        <label for="418" class="ml-3 block text-sm font-medium text-gray-700">
				          418 - I’m a teapot
				        </label>
				      </div>

				      <div class="flex items-center">
				        <input id="500" value="500" name="code" type="radio" {% if form.code.value == 500 %}checked{% endif %} class="focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300">
				        <label for="500" class="ml-3 block text-sm font-medium text-gray-700">
				          500 - Internal Server Error
				        </label>
				      </div>
				    </div>
				    
			    	{% if form.code.errors %}
					{% for error in form.code.errors %}
					<p class="mt-2 text-sm text-red-500">{{ error|escape }}</p>
					{% endfor %}
					{% endif %}
				  </fieldset>
				</div>
			</div>

			<div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
				<div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
					<div role="group" aria-labelledby="label-email">
						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
							<div>
								<div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
									Status
								</div>
							</div>
							<div class="mt-4 sm:mt-0 sm:col-span-2">
								<div class="max-w-lg space-y-4">
									<div class="relative flex items-start">
										<div class="flex items-center h-5">
											<input id="{{ formService.is_enabled.id_for_label }}" name="{{ formService.is_enabled.html_name }}" {% if formService.is_enabled.value %}checked{% endif %} type="checkbox" class="focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300 rounded">
										</div>
										<div class="ml-3 text-sm">
											<label for="{{ formService.is_enabled.id_for_label }}" class="font-medium text-gray-700">{{ formService.is_enabled.label }}</label>
											<p class="text-gray-500">{{ formService.is_enabled.help_text }}</p>
										</div>
									</div>
									<div>
										<div class="relative flex items-start">
											<div class="flex items-center h-5">
												<input id="{{ formService.is_public.id_for_label }}" name="{{ formService.is_public.html_name }}" {% if formService.is_public.value %}checked{% endif %} type="checkbox" class="focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300 rounded">
											</div>
											<div class="ml-3 text-sm">
												<label for="{{ formService.is_public.id_for_label }}" class="font-medium text-gray-700">{{ formService.is_public.label }}</label>
												<p class="text-gray-500">{{ formService.is_public.help_text }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
				<div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
					<div role="group" aria-labelledby="label-email">
						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
							<div>
								<div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
									Criticality
								</div>
							</div>
							<div class="mt-4 sm:mt-0 sm:col-span-2">
								<div class="max-w-lg space-y-4">
									<div class="relative flex items-start">
										<div class="flex items-center h-5">
											<input id="{{ formService.is_critical.id_for_label }}" name="{{ formService.is_critical.html_name }}" {% if formService.is_critical.value %}checked{% endif %} type="checkbox" class="focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300 rounded">
										</div>
										<div class="ml-3 text-sm">
											<label for="{{ formService.is_critical.id_for_label }}" class="font-medium text-gray-700">{{ formService.is_critical.label }}</label>
											<p class="text-gray-500">{{ formService.is_critical.help_text }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% csrf_token %}
		</div>	
	</div>

	<div class="pt-5 flex justify-between">
		<div>
			{% if service_http.service and service_http.service.id %}<a href="{% url 'services_mockedhttpcode_delete' project.id service_http.id %}" class="mr-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600">
				Delete
			</a>{% endif %}
		</div>
		<div class="flex justify-end">
			<a href="{% url 'project_availability' project.id %}" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
				Cancel
			</a>
			<button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
				{% if service_http %}Save{% else %}Create{% endif %}
			</button>
		</div>
	</div>
</form>
{% endblock %}
