{% extends 'application.html' %}

{% block content %}

<form class="space-y-8 divide-y divide-gray-200">
	<div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
		<div>
			<div>
				<h3 class="text-lg leading-6 font-medium text-gray-900">
					Services
				</h3>
				<p class="mt-1 max-w-2xl text-sm text-gray-500">
					This is a service
				</p>
			</div>

			<div class="pt-6 sm:pt-5">
				<div role="group" aria-labelledby="label-notifications">
					<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
						<div>
							<div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-notifications">
								Push Notifications
							</div>
						</div>
						<div class="sm:col-span-2">
							<div class="max-w-lg">
								<p class="text-sm text-gray-500">These are delivered via SMS to your mobile phone.</p>
								<div class="mt-4 space-y-4">
									<div class="flex items-center">
										<input id="push-everything" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
										<label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700">
											Everything
										</label>
									</div>
									<div class="flex items-center">
										<input id="push-email" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
										<label for="push-email" class="ml-3 block text-sm font-medium text-gray-700">
											Same as email
										</label>
									</div>
									<div class="flex items-center">
										<input id="push-nothing" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
										<label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700">
											No push notifications
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pt-5">
		<div class="flex justify-end">
			<a href="{% url 'project' application.id %}" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
				Cancel
			</a>
			<button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
				Save
			</button>
		</div>
	</div>
</form>
{% endblock %}