{% extends 'projects/project_view.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags humanize %}

{% block html_head_title %}Performances - {{ project.title }} - FromEdwin{% endblock %}

{% block javascript %}
<script src="{% static 'echarts/echarts.min.js' %}" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    var gauges = document.getElementsByClassName('echartgauge');
    [...gauges].forEach((element) => {
      var score = parseFloat(element.getAttribute('data-score'));
      var red = 'rgb(220, 38, 38)';
      var green = 'rgb(5, 150, 105)';
      var orange = 'rgb(217, 119, 6)';
      var grey = 'rgb(200, 200, 200)';
      var animation = window.location.hash !== '#noanimations';

      // Echarts options
      var serie = {
        startAngle: 90,
        endAngle: -270,
        type: 'gauge',
        progress: {
          show: true,
          width: 3,
        },
        axisLine: {
          lineStyle: {
            width: 3,
          },
        },
        axisTick: {
          show: false
        },
        splitLine: {
          show: false
        },
        axisLabel: {
          show: false
        },
        pointer: {
          show: false
        },
        anchor: {
          show: false
        },
        title: {
          show: false
        },
      };

      // Is lighthouse failed measuring score
      if (isNaN(score)) {
        if (element.getAttribute('data-score') == '--') {
          serie = Object.assign({}, serie, {
            title: {
              offsetCenter: [0, '0%'],
              fontSize: 16,
              color: grey,
            },
            itemStyle: {
              color: grey,
            },
            detail: {
              show: false,
            },
            data: [
              {
                value: 0,
                name: '--',
              }
            ]
          });
        } else {

          serie = Object.assign({}, serie, {
            title: {
              offsetCenter: [0, '0%'],
              fontSize: 16,
              color: red,
            },
            itemStyle: {
              color: red,
            },
            detail: {
              show: false,
            },
            data: [
              {
                value: 100,
                name: '?',
              }
            ]
          });
        }
      } else {
        // We read data-score attribute to get score
        var value = Math.round(score*100);

        var color = red;
        if (value >= 90) {
          color = green;
        } else if (value >= 50) {
          color = orange;
        }

        serie = Object.assign({}, serie, {
          detail: {
            valueAnimation: animation,
            fontSize: 12,
            color: color,
            offsetCenter: [0, '0%'],
          },
          itemStyle: {
            color: color,
          },
          data: [
            {
              value: value,
            }
          ]
        });
      }

      // Init echarts with options generated with serie data
      var myChart = echarts.init(element, null, {renderer: 'svg'});
      serie && myChart.setOption({
        series: [ serie ],
        animation: animation,
      });
    });
  });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'prismjs/prism.css' %}">
{% endblock %}

{% block subsection %}
<header class="pb-4">
  <h1 class="text-3xl font-bold leading-tight text-gray-900">
    Performances
  </h1>
</header>
<div class="pt-4">
    <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Web pages
      </h3>
      <div class="mt-3 sm:mt-0 sm:ml-4">
        <a href="{% url 'performance_add' project.id %}" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
          Add an URL
        </a>
      </div>
    </div>
    <div class="flex flex-col mt-4">

      {% for key, value in domains.items %}
      <div class="pt-4 pb-8 performance_tree">

        <div class="border-b border-gray-200 pb-5">
          <h3 class="text-base font-semibold leading-6 text-gray-900">{{ value.url }}</h3>
        </div>

        {% include "project/performances_include.html" with children=value.tree %}

      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
