{% extends 'application.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags humanize %}

{% block html_head_title %}All Performances - FromEdwin{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    var gauges = document.getElementsByClassName('echartgauge');
    [...gauges].forEach((element) => {
      var score = parseFloat(element.getAttribute('data-score'));
      var red = 'rgb(220, 38, 38)';
      var green = 'rgb(5, 150, 105)';
      var orange = 'rgb(217, 119, 6)';
      var grey = 'rgb(200, 200, 200)';
      var animation = window.location.hash !== '#noanimations';

      // Echarts options
      var serie = {
        startAngle: 90,
        endAngle: -270,
        type: 'gauge',
        progress: {
          show: true,
          width: 3,
        },
        axisLine: {
          lineStyle: {
            width: 3,
          },
        },
        axisTick: {
          show: false
        },
        splitLine: {
          show: false
        },
        axisLabel: {
          show: false
        },
        pointer: {
          show: false
        },
        anchor: {
          show: false
        },
        title: {
          show: false
        },
      };

      // Is lighthouse failed measuring score
      if (isNaN(score)) {
        if (element.getAttribute('data-score') == '--') {
          serie = Object.assign({}, serie, {
            title: {
              offsetCenter: [0, '0%'],
              fontSize: 16,
              color: grey,
            },
            itemStyle: {
              color: grey,
            },
            detail: {
              show: false,
            },
            data: [
              {
                value: 0,
                name: '--',
              }
            ]
          });
        } else {

          serie = Object.assign({}, serie, {
            title: {
              offsetCenter: [0, '0%'],
              fontSize: 16,
              color: red,
            },
            itemStyle: {
              color: red,
            },
            detail: {
              show: false,
            },
            data: [
              {
                value: 100,
                name: '?',
              }
            ]
          });
        }
      } else {
        // We read data-score attribute to get score
        var value = Math.round(score*100);

        var color = red;
        if (value >= 90) {
          color = green;
        } else if (value >= 50) {
          color = orange;
        }

        serie = Object.assign({}, serie, {
          detail: {
            valueAnimation: animation,
            fontSize: 12,
            color: color,
            offsetCenter: [0, '0%'],
          },
          itemStyle: {
            color: color,
          },
          data: [
            {
              value: value,
            }
          ]
        });
      }

      // Init echarts with options generated with serie data
      var myChart = echarts.init(element, null, {renderer: 'svg'});
      serie && myChart.setOption({
        series: [ serie ],
        animation: animation,
      });
    });
  });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'prismjs/prism.css' %}">
{% endblock %}

{% block content %}
<header>
  <h1 class="text-3xl font-bold leading-tight text-gray-900">
    All performances
  </h1>
</header>
<div class="pt-4">
  <div class="flex flex-col mt-4">

    {% for key, value in domains.items %}
    <div class="pt-4 pb-8 performance_tree">

      <div class="border-b border-gray-200 pb-5">
        <h3 class="text-base font-semibold leading-6 text-gray-900">{{ value.url }}</h3>
      </div>

      {% include "project/performances_include.html" with children=value.tree %}

    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
