{% extends 'projects/project_view.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags %}

{% block html_head_title %}Report - {{ project.title }} - FromEdwin{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'lighthouse-viewer/lighthouse-viewer-no-dark-mode.umd.js' %}"></script> -->
{% endblock %}

{% block subsection %}

<div class="pl-4 pr-4">

    <div class="pb-5 sm:flex sm:items-center sm:justify-between">
      <a href="{% url 'project_performances' project.id %}" class="inline-flex items-center bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
        <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg> Back to performances
      </a>
    </div>

    <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
         {{ report.performance.url  }}
      </h3>
      <div class="mt-3 sm:mt-0 sm:ml-4">
        {% if report.performance.request_run %}
        <div disabled="disabled" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 opacity-40">Waiting</div>
        {% else %}
        <div class="inline-flex mt-2 flex items-center text-sm text-gray-500 px-2">
          {{ report.creation_date|timesince}} ago
        </div>
        <a href="{% url 'performance_rerun' project.id report.performance.id %}" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2">Request new run</a>
        {% endif %}
        <a href="https://pagespeed.web.dev/report?url={{ report.performance.url }}&form_factor=desktop" target="_blank" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2">Run on pagespeed.web.dev</a>
        <a href="{{ report.report_json_file.url }}" class="inline-flex items-center rounded-md border border-transparent bg-emerald-100 px-3 py-2 text-sm font-medium leading-4 text-emerald-700 hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2">See JSON</a>
      </div>
    </div>
    
    <main id="lighthouse-viewer-element"></main>

    <script src="{% static 'lighthouse-viewer/lighthouse-viewer-no-dark-mode.umd.js' %}"></script>
    <script>
      var json = {{ json|safe }};
      const app = document.getElementById('lighthouse-viewer-element');
      const reportHtml = LighthouseViewer.renderReport(json, { omitTopbar: true });
      app.appendChild(reportHtml);
    </script>
</div>
{% endblock %}
