{% extends 'application.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags humanize %}

{% block html_head_title %}Overview - {{ project.title }} - FromEdwin{% endblock %}

{% block content %}

{% block javascript %}
<script src="{% static 'echarts/echarts.min.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    var gauges = document.getElementsByClassName('echartgauge');
    [...gauges].forEach((element) => {
      var score = parseFloat(element.getAttribute('data-score'));
      var red = 'rgb(220, 38, 38)';
      var green = 'rgb(5, 150, 105)';
      var orange = 'rgb(217, 119, 6)';
      var grey = 'rgb(200, 200, 200)';
      var animation = window.location.hash !== '#noanimations';

      // Echarts options
      var serie = {
        startAngle: 90,
        endAngle: -270,
        type: 'gauge',
        progress: {
          show: true,
          width: 3,
        },
        axisLine: {
          lineStyle: {
            width: 3,
          },
        },
        axisTick: {
          show: false
        },
        splitLine: {
          show: false
        },
        axisLabel: {
          show: false
        },
        pointer: {
          show: false
        },
        anchor: {
          show: false
        },
        title: {
          show: false
        },
      };

      // Is lighthouse failed measuring score
      if (isNaN(score)) {
        if (element.getAttribute('data-score') == '--') {
          serie = Object.assign({}, serie, {
            title: {
              offsetCenter: [0, '0%'],
              fontSize: 16,
              color: grey,
            },
            itemStyle: {
              color: grey,
            },
            detail: {
              show: false,
            },
            data: [
              {
                value: 0,
                name: '--',
              }
            ]
          });
        } else {

          serie = Object.assign({}, serie, {
            title: {
              offsetCenter: [0, '0%'],
              fontSize: 16,
              color: red,
            },
            itemStyle: {
              color: red,
            },
            detail: {
              show: false,
            },
            data: [
              {
                value: 100,
                name: '?',
              }
            ]
          });
        }
      } else {
        // We read data-score attribute to get score
        var value = Math.round(score*100);

        var color = red;
        if (value >= 90) {
          color = green;
        } else if (value >= 50) {
          color = orange;
        }

        serie = Object.assign({}, serie, {
          detail: {
            valueAnimation: animation,
            fontSize: 12,
            color: color,
            offsetCenter: [0, '0%'],
          },
          itemStyle: {
            color: color,
          },
          data: [
            {
              value: value,
            }
          ]
        });
      }

      // Init echarts with options generated with serie data
      var myChart = echarts.init(element, null, {renderer: 'svg'});
      serie && myChart.setOption({
        series: [ serie ],
        animation: animation,
      });
    });
  });
</script>
{% endblock %}

{% block subsection %}

<div class="pr-4 pt-4">
    <div class="pb-8">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="md:flex md:items-center md:justify-between md:space-x-5">
        <div class="flex items-start space-x-5">
          <div class="flex-shrink-0 flex content-center relative">
            {% if project.is_offline %}
            <div class="h-12 w-12 flex justify-center items-center rounded-full bg-red-600 text-white text-sm font-medium">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </div>
            {% elif project.is_degraded or project.is_warning %}
            <div class="h-12 w-12 flex justify-center items-center rounded-full bg-yellow-600 text-white text-sm font-medium">
              <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
            </div>
            {% else %}
            <div class="h-12 w-12 flex justify-center items-center rounded-full bg-emerald-600 text-white text-sm font-medium">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            {% endif %}
            {% if project.is_favorite %}
              <span class="absolute bottom-0 right-0 block h-3.5 w-3.5 rounded-full ring-2 ring-white bg-yellow-400"></span>
            {% endif %}
          </div>
          <!--
            Use vertical padding to simulate center alignment when both lines of text are one line,
            but preserve the same layout if the text wraps without making the image jump around.
          -->
          <div class="pt-0.5">
            <h1 class="text-3xl flex font-bold text-gray-900 flex flex-col">
              {{ project.title }}
              <span class="text-sm text-gray-400 font-medium">{{ project.url }}</span>
            </h1>
          </div>
        </div>
        <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
          <a href="{% url 'projects_edit' project.id %}" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-emerald-500">
            Edit
          </a>
        </div>
      </div>
    </div>
</div>
<hr />
<div class="mx-auto mt-4 mb-8 pt-6">
  <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
    <div class="relative pl-16">
      <dt class="text-base font-semibold leading-7 text-gray-900">
        <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
          </svg>
        </div>
        Availability
      </dt>
      <div class="flex">
        <div class="text-base leading-7 text-gray-600">
          <dl class="mt-4">
            <div class="flex flex-col gap-y-1 border-r border-gray-900/10 pr-6">
              <dt class="text-xs leading-6 text-gray-800">Past 30 days</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-emerald-600">{{ project.availability|floatformat:2 }}%</dd>
            </div>
          </dl>
        </div>
        <div class="flex-grow pt-4 pl-4">
          {% for service in project.services.all %}
          <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium mr-1 mb-1 {% if not service.is_enabled %}bg-gray-100 text-gray-800{% elif service.is_critical and service.is_offline %}bg-red-100 text-red-800{% elif service.is_degraded or service.is_warning %}bg-yellow-100 text-yellow-800{% else %}bg-emerald-100 text-emerald-800{% endif %}">
            <svg class="mr-1.5 h-2 w-2 {% if not service.is_enabled %}text-gray-400{% elif service.is_critical and service.is_offline %}text-red-400{% elif service.is_degraded or service.is_warning %}text-yellow-400{% else %}text-emerald-400{% endif %}" fill="currentColor" viewBox="0 0 8 8">
              <circle cx="4" cy="4" r="3" />
            </svg>
            {{ service.title }}
          </span>
          {% endfor %}
        </div>
      </div>
      <p class="text-xs pt-4 text-gray-400 text-left">Each service will be checked every {{ settings.IS_SERVICE_DOWN_SCRAPE_INTERVAL_SECONDS }} seconds.</p>
      <p class="mt-6">
        <a href="{% url 'project_availability' project.id %}" class="text-sm font-semibold leading-6 text-emerald-600">More details <span aria-hidden="true">→</span></a>
      </p>
    </div>
    <div class="relative pl-16">
      <dt class="text-base font-semibold leading-7 text-gray-900">
        <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
          </svg>
        </div>
        Global performance
      </dt>
      <dd class="mt-2 text-base leading-7 text-gray-600">
        <div class="flex pt-2">
          <a href="{% url 'project_performances' project.id %}" class="text-sm text-gray-900 flex flex-col justify-center align-middle text-center px-1">
            <div class="echartgauge" data-score="{{ project.performance_score.score_performance }}"></div>
            <p class="text-xs">Performances</p>
          </a>

          <a href="{% url 'project_performances' project.id %}" class="text-sm text-gray-900 flex flex-col justify-center align-middle text-center px-3">
            <div class="echartgauge" data-score="{{ project.performance_score.score_accessibility }}"></div>
            <p class="text-xs">Accessibility</p>
          </a>
          <a href="{% url 'project_performances' project.id %}" class="text-sm text-gray-900 flex flex-col justify-center align-middle text-center px-1">
            <div class="echartgauge" data-score="{{ project.performance_score.score_best_practices }}"></div>
            <p class="text-xs">Best practices</p>
          </a>
          <a href="{% url 'project_performances' project.id %}" class="text-sm text-gray-900 flex flex-col justify-center align-middle text-center px-1">
            <div class="echartgauge" data-score="{{ project.performance_score.score_seo }}"></div>
            <p class="text-xs">SEO</p>
          </a>
          <a href="{% url 'project_performances' project.id %}" class="text-sm text-gray-900 flex flex-col justify-center align-middle text-center px-1">
            <div class="echartgauge" data-score="{{ project.performance_score.score_pwa }}"></div>
            <p class="text-xs">PWA</p>
          </a>
        </div>
        <p class="text-xs pt-4 text-gray-400 text-left">{% if project.performance_score.last_run %}Last measure was performed {{ project.performance_score.last_run|naturaltime }}.{% else %}No measure available yet.{% endif %}</p>
        <p class="mt-6">
          <a href="{% url 'project_performances' project.id %}" class="text-sm font-semibold leading-6 text-emerald-600">More details <span aria-hidden="true">→</span></a>
        </p>
      </dd>
    </div>
  </dl>
</div>


<div class="mx-auto mt-4 mb-8 lg:flex">
  <dl class="w-4/6 grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:gap-y-16 mt-8">
    <div class="relative">
      <dt class="text-base font-semibold leading-7 text-gray-900">
        <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
          </svg>
        </div>
        <span class="pl-16">Latest incidents</span>
      </dt>
      <dd class="mt-2 pl-2 pt-4 text-base leading-7 text-gray-600">
        <div>
          {% for date, incidents in dates.items %}
          
          <div class="flex flex-row">
            <div class="flex flex-col grow">
              <div class="flex justify-center pl-3 pt-4">
                <p class="inline-flex items-center rounded-full bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 capitalize">{{ date|naturalday }}</p>
              </div>
                {% for incident in incidents %}
                  <div key={activityItem.id} class="rounded-r-md bg-gray-50 p-4 mt-2">
                    <div class="flex flex-row">
                      {% if incident.is_critical %}
                      <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">Outrage</span>
                      {% else %}
                      <span class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20">Warning</span>
                      {% endif %}
                      <div class="ml-3 grow pt-1">
                        <div class="text-xs text-gray-700">
                          {{ incident.html_summary|safe }}
                        </div>
                      </div>
                      <div class="text-xs text-gray-500 pt-1 ml-2">{{ incident.starts_at|date:"H:i" }}</div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          {% empty %}
          <div class="flex flex-row">
            <div class="flex flex-col grow">
              <div key={activityItem.id} class="rounded-md bg-gray-50 p-4 mt-3">
                    <div class="flex">
                      <div class="ml-3">
                        <div class="text-xs text-gray-700">
                          <p>No incidents to report so far.</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <p class="mt-6 pl-10">
          <a href="{% url 'project_notifications' project.id %}" class="text-sm font-semibold leading-6 text-emerald-600">More details <span aria-hidden="true">→</span></a>
        </p>
      </dd>
    </div>
  </dl>
  <div class="w-2/6 relative lg:ml-12 mt-8">
    <div class="text-base font-semibold leading-7 text-gray-900 pl-16">
      <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
      </div>
      Public page
    </div>
    <div class="mt-2 ml-16 pt-4 text-sm leading-7 text-gray-600">
      {% if project.enable_public_page %}
      <p><span class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-emerald-700 bg-emerald-100">Enabled</span></p>
      {% else %}
      <p><span class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-gray-700 bg-gray-100">Disabled</span></p>
      {% endif %}
    </div>

    <p class="mt-6 pl-16">
      <a href="{% url 'project_status_public' project.id %}" class="text-sm font-semibold leading-6 text-emerald-600">More details <span aria-hidden="true">→</span></a>
    </p>
  </div>
</div>
{% endblock %}

{% endblock %}
