{% extends 'projects/project_view.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags %}

{% block html_head_title %}Notifications - {{ project.title }} - FromEdwin{% endblock %}

{% block javascript %}
<script src="{% static 'echarts/echarts.min.js' %}" integrity="sha256-iJxB0L7blNZTAFBu/ESTfVaVTqFrTeISeWk7RUEePFY=" crossorigin="anonymous"></script>

<script src="{% static 'prismjs/prism.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'prismjs/prism.css' %}">
{% endblock %}

{% block subsection %}
<header class="pb-4">
  <h1 class="text-3xl font-bold leading-tight text-gray-900 relative pl-16 pt-2 pb-8">
    <div class="absolute top-0 left-0 flex h-12 w-12 items-center justify-center rounded-lg bg-emerald-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
      </svg>
    </div>
    Notifications
  </h1>
</header>
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 pt-4">

  {% for notification in project.pager_duty.all %}
  <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-emerald-500">
    <div class="flex-shrink-0">
      <span class="inline-flex items-center justify-center h-12 w-12 rounded-full bg-emerald-500">
          <span class="text-lg font-medium leading-none text-white">P</span>
        </span>
    </div>
    <div class="flex-1 min-w-0">
      <a href="{% url 'pagerduty_edit' project.id notification.id %}" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">
          PagerDuty
        </p>
        <p class="text-sm text-gray-500 truncate">
          {{ notification.routing_key }}
        </p>
      </a>
    </div>
  </div>
  {% empty %}
    <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-emerald-500">
    <div class="flex-shrink-0">
        <span class="inline-flex items-center justify-center h-12 w-12 rounded-full bg-gray-500">
          <span class="text-lg font-medium leading-none text-white">+</span>
        </span>
    </div>
    <div class="flex-1 min-w-0">
      <a href="{% url 'pagerduty_add' project.id %}" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">
          Add PagerDuty
        </p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
