<footer>
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
      <div class="pb-6">
        <a href="{% url 'features' %}" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Features</a>
      </div>

      <div class="pb-6">
        <a href="{% url 'pricing' %}" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Pricing</a>
      </div>

      <div class="pb-6">
        <a href="{% url 'about-us' %}" class="text-sm leading-6 text-gray-600 hover:text-gray-900">About us</a>
      </div>

      <div class="pb-6">
        <a href="{% url 'legal' %}" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Legal</a>
      </div>
    </nav>
    
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">&copy; 2024 FromEdwin, All rights reserved.</p>
  </div>
</footer>
