{% extends 'projects/project_view.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags humanize %}

{% block html_head_title %}Performances - {{ project.title }} - FromEdwin{% endblock %}

{% block javascript %}
<script src="{% static 'echarts/echarts.min.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    var gauges = document.getElementsByClassName('echartgauge');
    [...gauges].forEach((element) => {
      var score = parseFloat(element.getAttribute('data-score'));
      var red = 'rgb(220, 38, 38)';
      var green = 'rgb(5, 150, 105)';
      var orange = 'rgb(217, 119, 6)';
      var grey = 'rgb(200, 200, 200)';
      var animation = window.location.hash !== '#noanimations';

      // Echarts options
      var serie = {
        startAngle: 90,
        endAngle: -270,
        type: 'gauge',
        progress: {
          show: true,
          width: 3,
        },
        axisLine: {
          lineStyle: {
            width: 3,
          },
        },
        axisTick: {
          show: false
        },
        splitLine: {
          show: false
        },
        axisLabel: {
          show: false
        },
        pointer: {
          show: false
        },
        anchor: {
          show: false
        },
        title: {
          show: false
        },
      };

      // Is lighthouse failed measuring score
      if (isNaN(score)) {
        if (element.getAttribute('data-score') == '--') {
          serie = Object.assign({}, serie, {
            title: {
              offsetCenter: [0, '0%'],
              fontSize: 16,
              color: grey,
            },
            itemStyle: {
              color: grey,
            },
            detail: {
              show: false,
            },
            data: [
              {
                value: 0,
                name: '--',
              }
            ]
          });
        } else {

          serie = Object.assign({}, serie, {
            title: {
              offsetCenter: [0, '0%'],
              fontSize: 16,
              color: red,
            },
            itemStyle: {
              color: red,
            },
            detail: {
              show: false,
            },
            data: [
              {
                value: 100,
                name: '?',
              }
            ]
          });
        }
      } else {
        // We read data-score attribute to get score
        var value = Math.round(score*100);

        var color = red;
        if (value >= 90) {
          color = green;
        } else if (value >= 50) {
          color = orange;
        }

        serie = Object.assign({}, serie, {
          detail: {
            valueAnimation: animation,
            fontSize: 12,
            color: color,
            offsetCenter: [0, '0%'],
          },
          itemStyle: {
            color: color,
          },
          data: [
            {
              value: value,
            }
          ]
        });
      }

      // Init echarts with options generated with serie data
      var myChart = echarts.init(element, null, {renderer: 'svg'});
      serie && myChart.setOption({
        series: [ serie ],
        animation: animation,
      });
    });
  });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'prismjs/prism.css' %}">
{% endblock %}

{% block subsection %}
<header class="pb-4">
  <h1 class="text-3xl font-bold leading-tight text-gray-900 relative pl-16 pt-2 pb-8">
    <div class="absolute top-0 left-0 flex h-12 w-12 items-center justify-center rounded-lg bg-emerald-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
      </svg>
    </div>
    Pages
  </h1>
</header>
<div class="pt-4">
    <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Web pages ({{ pages_count }})
      </h3>
    </div>
    <div class="flex flex-col mt-4">

      {% for page in pages %}
      <div class="pt-4 pb-8 performance_tree">

        <div class="border-b border-gray-200 pb-5">
          <h3 class="text-base font-semibold leading-6 text-gray-900">{{ page.url }}</h3>
          <p class="text-sm">
            {{ page.title }}</page>
          </p>
          <p class="text-sm">
            {{ page.description }}</page>
          </p>
        </div>

        {% include "project/performances_include.html" with page=page %}

      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
