{% extends 'application.html' %}
{% load socialaccount account tailwind_tags %}

{% block title %}Projects {{ id }}{% endblock %}

{% block title_header %}{% endblock %}

{% block content %}
<div class="p-4">
    <div class="pb-12">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="md:flex md:items-center md:justify-between md:space-x-5">
        <div class="flex items-start space-x-5">
          <div class="flex-shrink-0 flex content-center ">
              {% if project.is_offline %}
                <div class="h-16 w-16 flex justify-center items-center rounded-full bg-red-600 text-white text-sm font-medium">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </div>
                {% elif project.is_degraded or project.is_warning %}
                <div class="h-16 w-16 flex justify-center items-center rounded-full bg-yellow-600 text-white text-sm font-medium">
                  <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
                </div>
                {% else %}
                <div class="h-16 w-16 flex justify-center items-center rounded-full bg-green-600 text-white text-sm font-medium">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                </div>
                {% endif %}
          </div>
          <!--
            Use vertical padding to simulate center alignment when both lines of text are one line,
            but preserve the same layout if the text wraps without making the image jump around.
          -->
          <div class="pt-1.5">
            <h1 class="text-3xl font-bold text-gray-900">{{ project }}</h1>
            <p class="text-sm font-medium text-gray-500">Service is fully online and work as expected</p>
          </div>
        </div>
        <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
          <a href="{% url 'projects_edit' project.id %}" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-green-500">
            Edit
          </a>
        </div>
      </div>
    </div>

    <div class="pt-4 pb-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Last 30 days
      </h3>
      <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            Availability
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-green-500">
            {{ project.availability }} %
          </dd>
        </div>
      </dl>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Services
      </h3>
      <div class="mt-3 sm:mt-0 sm:ml-4">
        <a href="{% url 'services_add' project.id %}" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          Add new service
        </a>
      </div>
    </div>

    {% if project.is_degraded %}
    <div class="rounded-md bg-yellow-50 p-4 mt-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/exclamation -->
          <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">
            None critical services are failing
          </h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>
              Application still works and can be used and so not in an outrage state, but some none critical services are failing and might need attention.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if project.is_warning and not project.is_offline %}
    <div class="rounded-md bg-yellow-50 p-4 mt-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/exclamation -->
          <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">
            Warning
          </h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>
              A critical service is currently failing and about to create an <strong>outrage</strong>. Outrages are trigger after <strong>5 consecutive minutes</strong> of failing. 
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="flex flex-col mt-4">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Availability
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                {% for service in project.services.all %}
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <!--
                      <div class="flex-shrink-0 h-10 w-10">
                        <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                      </div>-->
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          {{ service.title }}
                        </div>
                        <div class="text-sm text-gray-500">
                          {% if service.httpcode %}{{ service.httpcode.url }}{% endif %}
                          {% if service.httpmockedcode %}Return HTTP {{ service.httpmockedcode.code }}{% endif %}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">{{ service.availability }} %</div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    {% if not service.is_enabled %}
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-600">
                          Disabled
                        </span>
                    {% else %}
                        {% if service.is_critical and service.is_offline %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                              Offline
                            </span>
                        {% elif service.is_warning %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                              Warning
                            </span>
                        {% elif service.is_degraded %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                              Degraded
                            </span>
                        {% else %}
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                              Online
                            </span>
                        {% endif %}
                    {% endif %}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    {% if service.httpcode %}
                    <a href="{% url 'services_httpcode_edit' project.id service.httpcode.id %}" class="text-green-600 hover:text-green-900">Edit</a>
                    {% elif service.httpmockedcode %}
                    <a href="{% url 'services_mockedhttpcode_edit' project.id service.httpmockedcode.id %}" class="text-green-600 hover:text-green-900">Edit</a>
                    {% else %}
                    <a href="{% url 'services_httpcode_edit' project.id service.id %}" class="text-green-600 hover:text-green-900">Edit</a>{% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-5 border-b border-gray-200 pt-4 mt-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Notifications
      </h3>
    </div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 pt-4">

      {% for notification in project.pager_duty.all %}
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-green-500">
        <div class="flex-shrink-0">
          <span class="inline-flex items-center justify-center h-12 w-12 rounded-full bg-green-500">
              <span class="text-lg font-medium leading-none text-white">P</span>
            </span>
        </div>
        <div class="flex-1 min-w-0">
          <a href="{% url 'pagerduty_edit' project.id notification.id %}" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">
              PagerDuty
            </p>
            <p class="text-sm text-gray-500 truncate">
              {{ notification.routing_key }}
            </p>
          </a>
        </div>
      </div>
      {% empty %}
        <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-green-500">
        <div class="flex-shrink-0">
            <span class="inline-flex items-center justify-center h-12 w-12 rounded-full bg-gray-500">
              <span class="text-lg font-medium leading-none text-white">+</span>
            </span>
        </div>
        <div class="flex-1 min-w-0">
          <a href="{% url 'pagerduty_add' project.id %}" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">
              Add PagerDuty
            </p>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}