{% extends 'application.html' %}
{% load static socialaccount account tailwind_tags humanize %}

{% block title %}Dashboard{% endblock %}

{% block html_head_title %}Dashboard - FromEdwin{% endblock %}

{% block content %}

<div class="mx-auto mb-8">
  <dl class="w-6/6 grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:gap-y-16 mt-8">
    <div class="relative">
      <dt class="text-base font-semibold leading-7 text-gray-900">
        <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
          </svg>
        </div>
        <span class="pl-16">Latest incidents</span>
      </dt>
      <dd class="mt-2 pt-4 text-base leading-7 text-gray-600">
        <div>
          {% for date, incidents in dates.items %}
          
          <div class="flex flex-row">
            <div class="flex flex-col grow">
              <div class="flex justify-center pl-3 pt-4">
                <p class="inline-flex items-center rounded-full bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 capitalize">{{ date|naturalday }}</p>
              </div>
            {% for incident in incidents %}
                  <div key={activityItem.id} class="rounded-r-md bg-gray-50 p-4 mt-2">
                    <div class="flex flex-row">
                      {% if incident.is_critical %}
                      <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">Outrage</span>
                      {% else %}
                      <span class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20">Warning</span>
                      {% endif %}
                      <div class="ml-3 grow pt-1">
                        <div class="text-xs text-gray-700">
                          {{ incident.html_summary|safe }}
                        </div>
                      </div>
                      <div class="text-xs text-gray-500 pt-1 ml-2">{{ incident.starts_at|date:"H:i" }}</div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          {% empty %}
          <div class="flex flex-row">
            <div class="flex flex-col grow">
              <div key={activityItem.id} class="rounded-md bg-gray-50 p-4 mt-3">
                <div class="flex">
                  <div class="ml-3">
                    <div class="text-xs text-gray-700">
                      <p>No incidents to report so far.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </dd>
    </div>
  </dl>
</div>

{% endblock %}
