{% extends 'base.html' %}
{% load socialaccount account tailwind_tags %}

{% block body %}

<div class="flex w-screen h-screen items-center justify-center">
  <form method="post" class="py-5 space-y-8 divide-y divide-gray-200">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          
        </h3>
        <div class="mt-2 max-w-xl text-sm text-gray-500">
          <p>
            You are currently on waiting list You can cancel at any time.
          </p>
        </div>
        <div class="mt-5 flex justify-between gap-8">
          <a href="{% url 'user_delete' %}" class="whitespace-nowrap font-medium text-red-700 hover:text-red-600">
            Delete your account
          </a>
          <a href="{% url 'logout' %}?next=/" class="whitespace-nowrap font-medium text-black-700 hover:text-black-600">
            Logout
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
