alabaster
annotated-types
anyio
arrow
asgiref
Babel
binaryornot
boto3
botocore
certifi
cffi
chardet
charset-normalizer
click
cookiecutter
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-browser-reload
django-cleanup
django-prometheus
django-storages
django-tailwind
django-timezone-field
django-yamlfield
djangorestframework
dnspython
docutils
email_validator
exceptiongroup
fastapi
fastapi-cli
gunicorn
h11
httpcore
httptools
httpx
humanize
idna
imagesize
importlib_metadata
Jinja2
jinja2-time
jmespath
livereload
markdown-it-py
MarkupSafe
mdit-py-plugins
mdurl
myst-parser
oauthlib
orjson
packaging
pillow
pip-review
poyo
prometheus_client
psycopg
pycparser
pydantic
pydantic_core
Pygments
PyJWT
python-dateutil
python-dotenv
python-multipart
python-slugify
python3-openid
pytz
PyYAML
requests
requests-oauthlib
rich
s3transfer
sentry-sdk
shellingham
six
sniffio
snowballstemmer
Sphinx
sphinx-reload
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
starlette
text-unidecode
tomli
tornado
typer
types-python-dateutil
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets
whitenoise
zipp
