absl-py==1.4.0
addict==2.4.0
alabaster==0.7.16
albumentations==1.3.1
altgraph @ file:///AppleInternal/Library/BuildRoots/bd680bd8-563b-11ef-bf16-8a553ba56670/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.6.0
anyio==4.3.0
astunparse==1.6.3
Babel==2.15.0
basicsr==1.4.2
beautifulsoup4==4.12.2
cachetools==5.3.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
contourpy==1.1.0
cycler==0.11.0
Cython==3.0.0
darkdetect==0.8.0
distlib==0.3.6
dnspython==2.6.1
docutils==0.21.2
easydict==1.10
email_validator==2.1.1
exceptiongroup==1.2.1
facexlib==0.3.0
fastapi==0.111.0
fastapi-cli==0.0.4
filelock==3.8.0
filterpy==1.4.5
flatbuffers==23.5.26
fonttools==4.41.1
future @ file:///AppleInternal/Library/BuildRoots/bd680bd8-563b-11ef-bf16-8a553ba56670/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gast==0.4.0
gdown==4.7.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.2
gunicorn==20.1.0
h11==0.14.0
h5py==3.9.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
humanfriendly==10.0
idna==3.7
imageio==2.31.1
imagesize==1.4.1
importlib-resources==6.0.0
importlib_metadata==7.1.0
Jinja2==3.1.4
joblib==1.3.1
keras==2.13.1
kiwisolver==1.4.4
lazy_loader==0.3
libclang==16.0.6
livereload==2.6.3
llvmlite==0.40.1
lmdb==1.4.1
macholib @ file:///AppleInternal/Library/BuildRoots/bd680bd8-563b-11ef-bf16-8a553ba56670/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.2
mdurl==0.1.2
mpmath==1.3.0
networkx==3.1
numba==0.57.1
oauthlib==3.2.2
opencv-python-headless==4.8.0.74
opt-einsum==3.3.0
orjson==3.10.3
packaging==24.0
pathspec==0.12.1
pip-review==1.3.0
pipenv==2022.9.24
platformdirs==3.9.1
prettytable==3.8.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.18.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.9
PyWavelets==1.4.1
PyYAML==6.0.1
qudida==0.0.4
requests==2.32.0
requests-oauthlib==1.3.1
rich==13.7.1
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==7.3.7
sphinx-reload==0.2.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
starlette==0.37.2
sympy==1.12
tb-nightly==2.14.0a20230727
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.7.18
tomli==2.0.1
tornado==6.4
typer==0.12.3
typing_extensions==4.11.0
ujson==5.10.0
urllib3==2.2.1
uvicorn==0.21.1
uvloop==0.19.0
virtualenv==20.16.5
virtualenv-clone==0.5.7
watchfiles==0.21.0
wcwidth==0.2.6
websockets==12.0
Werkzeug==2.3.6
wrapt==1.15.0
yamllint==1.33.0
yapf==0.40.1
zipp==3.18.2
