{% extends 'base.html' %}
{% load socialaccount account tailwind_tags starts_with %}

{% block body %}
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="min-h-screen bg-white">

  <div class="py-10">
    {% block title_header %}
    <header>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
          {% block title %}{% endblock %}
        </h1>
      </div>
    </header>
    {% endblock %}
    <main>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        {% block content %}{% endblock %}
      </div>
    </main>
  </div>
</div>

{% endblock %}