{% load static socialaccount account tailwind_tags %}

<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}" lang="en">
<head>
    <title>{% block html_head_title %}FromEdwin{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% block favicon %}<link rel="shortcut icon" type="image/svg" href="{% static 'favicon.svg' %}" />{% endblock %}
    {% tailwind_css %}
	{% block css %}{% endblock %}
	<script src="//unpkg.com/alpinejs"></script>
</head>
<body class="bg-gray-50 leading-normal tracking-normal {% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>
