{% extends 'projects/project_view.html' %}
{% load static socialaccount account tailwind_tags fromedwin_tags %}

{% block html_head_title %}Public status - {{ project.title }} - FromEdwin{% endblock %}

{% block javascript %}
<script src="{% static 'prismjs/prism.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'prismjs/prism.css' %}">
{% endblock %}

{% block subsection %}
<header class="pb-4">
  <h1 class="text-3xl font-bold leading-tight text-gray-900 relative pl-16 pt-2 pb-8">
    <div class="absolute top-0 left-0 flex h-12 w-12 items-center justify-center rounded-lg bg-emerald-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
      </svg>
    </div>
    Public page
  </h1>
</header>
  {% if not project.enable_public_page %}
  <div class="pt-5 sm:pt-6">
    <form method="POST" action="{% url 'toggle_public_page' project.id %}" class="mt-2 sm:flex sm:items-start sm:justify-between">
      <div class="max-w-xl text-sm text-gray-500">
        <p>
          Enable your <strong>public page status</strong> to share with your users the current status of your project.
        </p>
      </div>
      {% csrf_token %}
      <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
        <input type="submit" value="Enable status page" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500 sm:text-sm">
        </input>
      </div>
    </form>
  </div>
  {% else %}


  <div class="pr-5 sm:pt-6">
    <form method="POST" action="{% url 'toggle_public_page' project.id %}" class="mt-2 sm:flex sm:items-start sm:justify-between">
      <div class="max-w-xl text-sm text-gray-500">
        <p>
          You can now access your <strong>public status page</strong> at the following url : <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-emerald-700 bg-emerald-100 hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500"><a class="flex items-center" href="{{ url }}{% url 'public' project.id %}" target="_blank">{{ url }}{% url 'public' project.id %} <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg></a></button>
        </p>
      </div>
      {% csrf_token %}
      <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
        <input type="submit" value="Disable" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
        </input>
      </div>
    </form>
  </div>

  <div class="pt-5 sm:pt-6">
    <div class="text-sm text-gray-500">
      <p>
        You can also embed your current status badge in third party application using the following code : <a class="inline" href="{{ url }}{% url 'public' project.id %}"><img class="inline" src="{% url 'badge' project.id %}" /></a>
      </p>
      
      <h4 class="pt-2 text-md leading-6 font-medium text-gray-900">As html</h4>
      <pre><code class="language-html">{% filter force_escape %}<a href="{{ url }}{% url 'public' project.id %}">
<img src="{{ url }}{% url 'badge' project.id %}" alt="Alt text" />
</a>{% endfilter %}</code></pre>

      <h4 class="pt-2 text-md leading-6 font-medium text-gray-900">As markdown</h4>
      <pre><code class="language-markdown">[!Alt text]({{ url }}{% url 'badge' project.id %})]({{ url }}{% url 'public' project.id %})</code></pre>
      
    </div>
  </div>
  {% endif %}

{% endblock %}
